:root {
    --sb-width: 260px;
}

body.sb-collapsed {
    --sb-width: 84px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

thead {
    background-color: #f3f2f2;
    text-align: center;
}

th,
td {
    padding: 1rem;
    border: 1px solid #ddd;
}


.contaniner {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main {
    transition: margin-left .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabla--responsiva {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 60dvh;
    border-radius: 8px;
}

.cardview {
    width: 70dvw;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}

.card--option {
    background-color: #F6F6F6;
    padding: 20px;
}

@media (min-width: 582px) and (max-width: 1024px) {
    .tabla-responsiva {
        max-width: 65dvh;
    }
}

@media (max-width: 581px) {
    .main {
        margin-left: var(--sb-width);

    }

    .tabla-responsiva {
        max-height: 55dvh;
    }

}